/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	margin:0;
	border:0
}


html{
	position:relative;	
	margin: 0;
}

body{
	margin:0;
	padding:0;
	height:1350px;
	background-color:#058B87;
}


.header{
	width:100%;
	padding:0;
	border:0;
	background-color:#0E1F43;
}

.current_user {
	margin-top:0;
	padding-left:10%;	
	background-color:#0E1F43;
	height:75px;
	margin:0;
	
}


.content{
	padding-top:20px;
	padding-left:5%;
	
}

.menu {
	height:100px;
	
}

.menu p {
	float: left;
	
}

.first {
	padding-left: 0;
}

.second {
	padding-left: 3%;
}


.info {

}
	
.footer {
	position:absolute;
	bottom:0;
	height:200px;
	background-color:#0E1F43;	
}
.actions {
	position:relative;
        margin: -10px -20px; 
	top: 50%;
    	left: 50%;
}
.actions2 {
	position:relative;
        margin: -10px 50px; 
}





