// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table {
	width: 100%;
	table-layout: fixed;
}

table td{
	font-size: 18px;
}

table tr,th{
	text-align: center;
	color: #0E1F43;
	font-family: "Verdana", sanf-selif;
	height: 75px;
}

form{
	background-color:#0E1F43;
	width: 200px;
}
textarea{
	height: 60px;
}


